In [1]:
from collections import OrderedDict
import os
import glob
import numpy as np
import pandas as pd
import dask
from dask.delayed import delayed
from dask.distributed import Client, wait
import dask_cudf
import datetime

In [2]:
print(datetime.datetime.utcnow().isoformat())

2019-11-23T03:48:55.403003

In [3]:
!cat start_dask.yaml

device_memory_limit_gib: 26.0
docker_image: claudiofahey/rapidsai:a359097c3c18a534b91557d5abe772c73ef57d11de3dfb632e1516b0a01745f1
host:
  - 10.200.11.12
  - 10.200.11.13
memory_limit_gib: 64.0

In [4]:
use_local_cuda_cluster = False
# Use below for a local-only CUDA cluster
if use_local_cuda_cluster:
    from dask_cuda import LocalCUDACluster
    cluster = LocalCUDACluster(ip='0.0.0.0')
    client = Client(cluster)

In [5]:
# Use below for a multi-host multi-GPU CUDA cluster started with start_dask.py.
if not use_local_cuda_cluster:
    scheduler_address = '10.200.11.12:8786'
    client = Client(address=scheduler_address)

In [6]:
client

In [7]:
import cudf

In [8]:
%%time
# Restart all workers. This also clears GPU memory.
client.restart()

CPU times: user 21.4 ms, sys: 336 Âµs, total: 21.7 ms
Wall time: 18.7 s

In [23]:
def gpu_load_performance_data(performance_path, **kwargs):
    """ Loads performance data

    Returns
    -------
    GPU DataFrame
    """
    
    cols = [
        "loan_id", "monthly_reporting_period", "servicer", "interest_rate", "current_actual_upb",
        "loan_age", "remaining_months_to_legal_maturity", "adj_remaining_months_to_maturity",
        "maturity_date", "msa", "current_loan_delinquency_status", "mod_flag", "zero_balance_code",
        "zero_balance_effective_date", "last_paid_installment_date", "foreclosed_after",
        "disposition_date", "foreclosure_costs", "prop_preservation_and_repair_costs",
        "asset_recovery_costs", "misc_holding_expenses", "holding_taxes", "net_sale_proceeds",
        "credit_enhancement_proceeds", "repurchase_make_whole_proceeds", "other_foreclosure_proceeds",
        "non_interest_bearing_upb", "principal_forgiveness_upb", "repurchase_make_whole_proceeds_flag",
        "foreclosure_principal_write_off_amount", "servicing_activity_indicator"
    ]

    ddf = dask_cudf.read_parquet(performance_path)
    #ddf = cudf.read_parquet(performance_path)
#     ddf = ddf.rename(columns=dict(zip(ddf.columns, cols)))
    return ddf

In [24]:
# Identify list of files to load.
data_dir = '/mnt/isilon1/data/mortgage'
perf_file = []
perf_file += glob.glob(data_dir + '/perf-snappy.parquet/part.0.parquet')
#perf_file += glob.glob(data_dir + '/perf/Performance_*')
#perf_file += glob.glob(data_dir + '/perf/Performance_2016*.txt')
len(perf_file)

1

In [18]:
cudf.read_parquet(data_dir + '/perf-snappy.parquet/part.0.parquet')

,loan_id,monthly_reporting_period,servicer,interest_rate,current_actual_upb,loan_age,remaining_months_to_legal_maturity,adj_remaining_months_to_maturity,maturity_date,msa,...,holding_taxes,net_sale_proceeds,credit_enhancement_proceeds,repurchase_make_whole_proceeds,other_foreclosure_proceeds,non_interest_bearing_upb,principal_forgiveness_upb,repurchase_make_whole_proceeds_flag,foreclosure_principal_write_off_amount,servicing_activity_indicator
index,,,,,,,,,,,,,,,,,,,,,
0,100000040778,2017-01-01,null,3.875,234856.62,6.0,354.0,352.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
1,100000040778,2017-02-01,null,3.875,234470.9,7.0,353.0,351.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
2,100000040778,2017-03-01,null,3.875,234083.94,8.0,352.0,350.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
3,100000040778,2017-04-01,310110673,3.875,233720.67,9.0,351.0,349.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,933513450
4,100000040778,2017-05-01,null,3.875,233356.22,10.0,350.0,348.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
5,100000040778,2017-06-01,null,3.875,232983.66,11.0,349.0,346.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
6,100000040778,2016-07-01,1240500859,3.875,null,0.0,360.0,359.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
7,100000040778,2017-07-01,null,3.875,232616.83,12.0,348.0,345.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
8,100000040778,2016-08-01,null,3.875,null,1.0,359.0,358.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
9,100000040778,2017-08-01,null,3.875,232116.94,13.0,347.0,344.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
10,100000040778,2016-09-01,null,3.875,null,2.0,358.0,357.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
11,100000040778,2017-09-01,null,3.875,231615.43,14.0,346.0,343.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,933513450
12,100000040778,2016-10-01,null,3.875,null,3.0,357.0,356.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
13,100000040778,2017-10-01,null,3.875,231244.18,15.0,345.0,342.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
14,100000040778,2016-11-01,null,3.875,null,4.0,356.0,355.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
15,100000040778,2017-11-01,null,3.875,230871.74,16.0,344.0,341.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
16,100000040778,2016-12-01,null,3.875,null,5.0,355.0,353.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
17,100000040778,2017-12-01,null,3.875,230498.09,17.0,343.0,340.0,1910-05-25 17:31:44,40140.0,...,null,null,null,null,null,null,null,null,null,2313200
18,100001486795,2017-01-01,null,3.500,124010.71,5.0,355.0,355.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
19,100001486795,2017-02-01,null,3.500,123811.12,6.0,354.0,354.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
20,100001486795,2017-03-01,null,3.500,123610.95,7.0,353.0,353.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
21,100001486795,2017-04-01,null,3.500,123410.19,8.0,352.0,352.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
22,100001486795,2017-05-01,null,3.500,123208.85,9.0,351.0,351.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
23,100001486795,2017-06-01,null,3.500,123006.92,10.0,350.0,350.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
24,100001486795,2016-07-01,1240500859,3.500,null,-1.0,361.0,360.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
25,100001486795,2017-07-01,null,3.500,122804.4,11.0,349.0,349.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
26,100001486795,2016-08-01,null,3.500,null,0.0,360.0,360.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
27,100001486795,2017-08-01,null,3.500,122601.29,12.0,348.0,348.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
28,100001486795,2016-09-01,null,3.500,null,1.0,359.0,359.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
29,100001486795,2017-09-01,null,3.500,122397.59,13.0,347.0,347.0,1910-06-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508071,144400767266,2016-10-01,null,4.125,null,3.0,357.0,356.0,1910-05-25 17:31:44,12420.0,...,null,null,null,null,null,null,null,null,null,2313200
508072,144400767266,2016-11-01,null,4.125,null,4.0,356.0,355.0,1910-05-25 17:31:44,12420.0,...,null,null,null,null,null,null,null,null,null,2313200
508073,144400767266,2016-12-01,null,4.125,null,5.0,355.0,354.0,1910-05-25 17:31:44,12420.0,...,null,null,null,null,null,null,null,null,null,2313200
508074,144400839503,2017-01-01,null,3.500,null,3.0,357.0,356.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508075,144400839503,2017-02-01,null,3.500,null,4.0,356.0,355.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508076,144400839503,2017-03-01,null,3.500,413033.56,5.0,355.0,354.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508077,144400839503,2017-04-01,null,3.500,412365.72,6.0,354.0,353.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508078,144400839503,2017-05-01,null,3.500,411695.93,7.0,353.0,352.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508079,144400839503,2017-06-01,null,3.500,411024.19,8.0,352.0,351.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508080,144400839503,2017-07-01,null,3.500,410350.49,9.0,351.0,350.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508081,144400839503,2017-08-01,null,3.500,409674.83,10.0,350.0,349.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508082,144400839503,2016-09-01,1240500859,3.500,null,-1.0,361.0,360.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508083,144400839503,2017-09-01,null,3.500,408997.2,11.0,349.0,348.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508084,144400839503,2016-10-01,null,3.500,null,0.0,360.0,359.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508085,144400839503,2017-10-01,null,3.500,408317.59,12.0,348.0,347.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508086,144400839503,2016-11-01,null,3.500,null,1.0,359.0,358.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508087,144400839503,2017-11-01,null,3.500,407636.0,13.0,347.0,346.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508088,144400839503,2016-12-01,null,3.500,null,2.0,358.0,357.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508089,144400839503,2017-12-01,null,3.500,406952.42,14.0,346.0,345.0,1910-08-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508090,144400924800,2017-01-01,null,3.750,317085.49,6.0,354.0,354.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508091,144400924800,2017-02-01,null,3.750,316594.41,7.0,353.0,353.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508092,144400924800,2017-03-01,null,3.750,315607.65,8.0,352.0,351.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508093,144400924800,2017-04-01,null,3.750,315607.65,9.0,351.0,351.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508094,144400924800,2017-05-01,null,3.750,315111.95,10.0,350.0,350.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508095,144400924800,2017-06-01,null,3.750,314614.7,11.0,349.0,349.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508096,144400924800,2016-07-01,-2008831641,3.750,null,0.0,360.0,360.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508097,144400924800,2017-07-01,null,3.750,314115.9,12.0,348.0,348.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508098,144400924800,2016-08-01,null,3.750,null,1.0,359.0,359.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508099,144400924800,2017-08-01,null,3.750,313615.54,13.0,347.0,347.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200
508100,144400924800,2016-09-01,null,3.750,null,2.0,358.0,358.0,1910-05-25 17:31:44,0.0,...,null,null,null,null,null,null,null,null,null,2313200

In [26]:
%%time
perf_ddf = gpu_load_performance_data(data_dir + '/perf-snappy.parquet/part.0.parquet')

CPU times: user 139 ms, sys: 0 ns, total: 139 ms
Wall time: 140 ms

In [27]:
perf_ddf

In [28]:
perf_ddf.head()

,loan_id,monthly_reporting_period,servicer,interest_rate,current_actual_upb,loan_age,remaining_months_to_legal_maturity,adj_remaining_months_to_maturity,maturity_date,msa,...,holding_taxes,net_sale_proceeds,credit_enhancement_proceeds,repurchase_make_whole_proceeds,other_foreclosure_proceeds,non_interest_bearing_upb,principal_forgiveness_upb,repurchase_make_whole_proceeds_flag,foreclosure_principal_write_off_amount,servicing_activity_indicator
index,,,,,,,,,,,,,,,,,,,,,
0,100000040778,01/01/2017,None,3.875,234856.62,6.0,354.0,352.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,N
1,100000040778,02/01/2017,None,3.875,234470.90,7.0,353.0,351.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,N
2,100000040778,03/01/2017,None,3.875,234083.94,8.0,352.0,350.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,N
3,100000040778,04/01/2017,NEW RESIDENTIAL MORTGAGE LLC,3.875,233720.67,9.0,351.0,349.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,Y
4,100000040778,05/01/2017,None,3.875,233356.22,10.0,350.0,348.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,N

In [30]:
%%time
# Read from files into GPU memory.
perf_ddf = perf_ddf.persist()
wait(perf_ddf)

CPU times: user 72.5 ms, sys: 6.39 ms, total: 78.9 ms
Wall time: 76.4 ms

In [31]:
#perf_ddf.dask

In [32]:
%%time
perf_ddf.head()

CPU times: user 111 ms, sys: 3.38 ms, total: 115 ms
Wall time: 229 ms

,loan_id,monthly_reporting_period,servicer,interest_rate,current_actual_upb,loan_age,remaining_months_to_legal_maturity,adj_remaining_months_to_maturity,maturity_date,msa,...,holding_taxes,net_sale_proceeds,credit_enhancement_proceeds,repurchase_make_whole_proceeds,other_foreclosure_proceeds,non_interest_bearing_upb,principal_forgiveness_upb,repurchase_make_whole_proceeds_flag,foreclosure_principal_write_off_amount,servicing_activity_indicator
index,,,,,,,,,,,,,,,,,,,,,
0,100000040778,01/01/2017,None,3.875,234856.62,6.0,354.0,352.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,N
1,100000040778,02/01/2017,None,3.875,234470.90,7.0,353.0,351.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,N
2,100000040778,03/01/2017,None,3.875,234083.94,8.0,352.0,350.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,N
3,100000040778,04/01/2017,NEW RESIDENTIAL MORTGAGE LLC,3.875,233720.67,9.0,351.0,349.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,Y
4,100000040778,05/01/2017,None,3.875,233356.22,10.0,350.0,348.0,07/2046,40140.0,...,null,null,null,null,null,null,null,None,null,N

In [33]:
%%time
len(perf_ddf)

CPU times: user 6.03 ms, sys: 1.47 ms, total: 7.5 ms
Wall time: 15.8 ms

508101

In [36]:
%%time
perf_ddf.groupby(['servicer'])['interest_rate'].max().compute().head(2)

CPU times: user 97.3 ms, sys: 14.8 ms, total: 112 ms
Wall time: 146 ms

PROVIDENT FUNDING ASSOCIATES, L.P.    4.375
FREEDOM MORTGAGE CORP.                5.000
Name: interest_rate, dtype: float64

In [37]:
%%time
perf_ddf.groupby(['servicer'])['interest_rate'].max().compute().head(2)

CPU times: user 101 ms, sys: 1.9 ms, total: 103 ms
Wall time: 136 ms

PROVIDENT FUNDING ASSOCIATES, L.P.    4.375
FREEDOM MORTGAGE CORP.                5.000
Name: interest_rate, dtype: float64

In [40]:
%%time
perf_ddf.groupby(['servicer'])['interest_rate'].max().compute().head(2)

CPU times: user 104 ms, sys: 37 Âµs, total: 104 ms
Wall time: 138 ms

PROVIDENT FUNDING ASSOCIATES, L.P.    4.375
FREEDOM MORTGAGE CORP.                5.000
Name: interest_rate, dtype: float64

In [41]:
checksum = perf_ddf['loan_id'].sum().compute()
checksum

62018971513503530

In [42]:
# compare to checksum from mortgage_etl_4.ipynb.
checksum - 6573355020803881490

-6511336049290377960

In [22]:
print(datetime.datetime.utcnow().isoformat())

2019-11-23T01:37:40.137584

In [23]:
!nvidia-smi

Sat Nov 23 01:37:40 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.67       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla V100-SXM3...  On   | 00000000:34:00.0 Off |                    0 |
| N/A   36C    P0    70W / 350W |  13836MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   1  Tesla V100-SXM3...  On   | 00000000:36:00.0 Off |                    0 |
| N/A   35C    P0    67W / 350W |  13712MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   2  Tesla V100-SXM3...  On   | 00000000:39:00.0 Off |                    0 |
| N/A   45C    P0    85W / 350W |  13198MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   3  Tesla V100-SXM3...  On   | 00000000:3B:00.0 Off |                    0 |
| N/A   43C    P0    72W / 350W |  13720MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   4  Tesla V100-SXM3...  On   | 00000000:57:00.0 Off |                    0 |
| N/A   37C    P0    82W / 350W |  13480MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   5  Tesla V100-SXM3...  On   | 00000000:59:00.0 Off |                    0 |
| N/A   42C    P0    88W / 350W |  14110MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   6  Tesla V100-SXM3...  On   | 00000000:5C:00.0 Off |                    0 |
| N/A   36C    P0    80W / 350W |  13372MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   7  Tesla V100-SXM3...  On   | 00000000:5E:00.0 Off |                    0 |
| N/A   44C    P0    82W / 350W |  12488MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   8  Tesla V100-SXM3...  On   | 00000000:B7:00.0 Off |                    0 |
| N/A   34C    P0    84W / 350W |  13670MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|   9  Tesla V100-SXM3...  On   | 00000000:B9:00.0 Off |                    0 |
| N/A   38C    P0    83W / 350W |  13202MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|  10  Tesla V100-SXM3...  On   | 00000000:BC:00.0 Off |                    0 |
| N/A   44C    P0    84W / 350W |  13550MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|  11  Tesla V100-SXM3...  On   | 00000000:BE:00.0 Off |                    0 |
| N/A   44C    P0    87W / 350W |  12936MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|  12  Tesla V100-SXM3...  On   | 00000000:E0:00.0 Off |                    0 |
| N/A   35C    P0    66W / 350W |  13052MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|  13  Tesla V100-SXM3...  On   | 00000000:E2:00.0 Off |                    0 |
| N/A   37C    P0    84W / 350W |  13766MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|  14  Tesla V100-SXM3...  On   | 00000000:E5:00.0 Off |                    0 |
| N/A   44C    P0    85W / 350W |  13874MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+
|  15  Tesla V100-SXM3...  On   | 00000000:E7:00.0 Off |                    0 |
| N/A   42C    P0    82W / 350W |  13376MiB / 32480MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+